base
base-devel
filesystem
git
make
mingw-w64-ucrt-x86_64-7zip
mingw-w64-ucrt-x86_64-binutils
mingw-w64-ucrt-x86_64-calculix-ccx
mingw-w64-ucrt-x86_64-crt
mingw-w64-ucrt-x86_64-gcc
mingw-w64-ucrt-x86_64-gcc-fortran
mingw-w64-ucrt-x86_64-gdb
mingw-w64-ucrt-x86_64-gdb-multiarch
mingw-w64-ucrt-x86_64-gmsh
mingw-w64-ucrt-x86_64-gnuplot
mingw-w64-ucrt-x86_64-headers
mingw-w64-ucrt-x86_64-imagemagick
mingw-w64-ucrt-x86_64-libmangle
mingw-w64-ucrt-x86_64-libwinpthread
mingw-w64-ucrt-x86_64-make
mingw-w64-ucrt-x86_64-perl
mingw-w64-ucrt-x86_64-pkgconf
mingw-w64-ucrt-x86_64-python
mingw-w64-ucrt-x86_64-python-matplotlib
mingw-w64-ucrt-x86_64-python-pip
mingw-w64-ucrt-x86_64-tools
mingw-w64-ucrt-x86_64-wget
mingw-w64-ucrt-x86_64-winpthreads
mingw-w64-ucrt-x86_64-winstorecompat
mingw-w64-x86_64-7zip
mingw-w64-x86_64-gcc
mingw-w64-x86_64-gcc-fortran
mingw-w64-x86_64-gcc-libgfortran
mingw-w64-x86_64-wget
msys2-runtime
